.redact-faces-instructions{
  /*color: gray;*/
  padding: 20px 40px;
  background-color: lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redact-faces-instructions button{
  margin-top: 20px;
}
