.deck-container .deck-prev-link, .deck-container .deck-next-link {
  display: none;
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #888;
}
.borderradius .deck-container .deck-prev-link, .borderradius .deck-container .deck-next-link {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link {
  left: 8px;
}
.deck-container .deck-next-link {
  right: 8px;
}
.deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link {
  display: block;
}
.deck-container:hover .deck-prev-link.deck-nav-disabled, .touch .deck-container:hover .deck-prev-link, .deck-container:hover .deck-next-link.deck-nav-disabled, .touch .deck-container:hover .deck-next-link {
  display: none;
}

@media print {
  .deck-prev-link, .deck-next-link {
    display: none !important;
  }
}
