<!-- Place the following snippet at the bottom of the deck container. -->
<p class="deck-status">
  <span class="deck-status-current"></span>
  /
  <span class="deck-status-total"></span>
</p>
