/* 
    Author     : Tomaz Dragar
    Mail       : <tomaz@dragar.net>
    Homepage   : http://www.dragar.net
*/
.clear{
  font-size: 0px;
  line-height: 0px;
  overflow: hidden;
  width: 0px;
  height: 0px;
  clear: both;
}
.simple-cropper-images{
  width: 820px;
  margin: 0 auto 20px;
  
}
.cropme{
  float: left;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  margin-right: 5px;
  
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.cropme1{
  float: left;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  margin-right: 5px;
  
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.text{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
}
.code{
  font-family: arial;
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  padding: 10px;
}
