.diff-sample .viewer {
    display: inline-block;
    width: calc(100% - 330px);
    height: calc(100% - 60px);
    margin-top: 60px;
    margin-left: 5px;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
}

.diff-sample#viewers {
    margin-left: 325px;
    display: flex;
    width: 100%;
}

@media (max-width: 800px) {
    .diff-sample .viewer:first-child {
        margin-top: 60px;
    }
    .diff-sample .viewer {
        margin-top: 10px;
        width: 100%;
        height: 90%;
        -webkit-box-shadow: 1px 1px 10px #999;
        box-shadow: 1px 1px 10px #999;
    }
    .diff-sample#viewers {
        padding: 15px 15px 0px 15px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}