<!-- Place the following snippet at the bottom of the deck container. -->
<form action="." method="get" class="goto-form">
  <label for="goto-slide">Go to slide:</label>
  <input type="text" name="slidenum" id="goto-slide" list="goto-datalist" />
  <datalist id="goto-datalist"></datalist>
  <input type="submit" value="Go" />
</form>
