/* Remove this line if you are embedding deck.js in a page and
using the scale extension. */
.csstransforms {
  overflow: hidden;
}

.csstransforms .deck-container.deck-scale:not(.deck-menu) > .slide {
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  width: 100%;
  padding-bottom: 20px;
}
.csstransforms .deck-container.deck-scale:not(.deck-menu) > .slide > .deck-slide-scaler {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.csstransforms .deck-container.deck-menu .deck-slide-scaler {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
