@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .mt-minus-90 {
    margin-top: 0;
  }
  h3 {
    font-size: 18px;
  }
  .header-area .top-header-area {
    text-align: center;
  }
  .header-area .top-header-area .header-content-right {
    display: none;
  }
  .others-option {
    display: none;
  }
  .contolib-slider-area {
    padding-top: 115px;
    padding-bottom: 75px;
  }
  .contolib-slider-area .slider-shape {
    display: none;
  }
  .contolib-slider-area .contolib-slider-text {
    text-align: center;
    margin-top: 0;
  }
  .contolib-slider-area .contolib-slider-text span {
    display: none;
  }
  .contolib-slider-area .contolib-slider-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contolib-slider-area .contolib-slider-text p {
    margin-bottom: 25px;
  }
  .contolib-slider-area .contolib-slider-text .slider-btn .default-btn {
    margin: 0 10px 15px;
  }
  .contolib-slider-area .owl-theme .owl-dots {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    max-width: 1130px;
    text-align: center;
  }
  .feature-area .col-lg-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .feature-area .feature-wrap .single-feature {
    margin-bottom: 0;
    text-align: center;
  }
  .feature-area .feature-wrap .single-feature .title {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .feature-area .feature-wrap .single-feature .title .icon {
    position: unset;
    font-size: 50px;
  }
  .feature-area .feature-wrap .single-feature .title .icon::before {
    display: none;
  }
  .feature-area .feature-wrap .single-feature .title .icon::after {
    display: none;
  }
  .feature-area .feature-wrap .single-feature .title h3 {
    top: 0;
    margin-top: 15px;
  }
  .feature-area .feature-wrap .feature-read-more {
    position: unset;
    margin-bottom: 30px;
  }
  .feature-area .feature-link {
    margin-top: 0;
  }
  .section-title {
    margin: -8px auto 30px;
  }
  .section-title span {
    font-size: 25px;
    margin-bottom: 0;
  }
  .section-title h2,
  .how-it-work-content-wrap .how-it-work-content .how-it-work-content-title h2,
  .plan-area .plan-title h3,
  .faq-area .faq-accordion h4,
  .help-area .help-touch-wrap h2,
  .subscribe-area .subscribe-content h2 {
    font-size: 32px !important;
  }
  .stakeholder-area {
    padding-bottom: 50px;
  }
  .single-opportunity .opportunity-content {
    padding-top: 40px;
  }
  .single-opportunity .opportunity-content .icon-style {
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
  }
  .stakeholder .stakeholder-content-wrap {
    padding: 15px;
  }
  .stakeholder .stakeholder-content-wrap .active {
    margin-top: 0;
    margin-bottom: -8px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title {
    margin-bottom: 23px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title h2 {
    font-size: 23px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title span {
    font-size: 23px;
    margin-bottom: 0;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title {
    padding-left: 0;
    margin-bottom: 0;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title i {
    position: unset;
  }
  .stakeholder .stakeholder-img {
    position: unset;
    height: 300px;
    margin-top: 15px;
  }
  .single-counter {
    border-right: none;
  }
  .single-counter i {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .single-counter p {
    margin-bottom: 10px;
  }
  .single-counter h2 {
    font-size: 30px;
  }
  .plan-area {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .plan-area .plan-img .plan-shape {
    position: unset;
  }
  .plan-area .container-fluid .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .plan-area-wrap .single-progress .progress-content h3 {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .plan-area-wrap {
    padding: 0;
  }
  .plan-area-wrap .plan-content .plan-title span {
    font-size: 25px;
    margin-bottom: 0;
  }
  .plan-area-wrap .plan-content .plan-title h2 {
    font-size: 25px;
  }
  .company-area .shorting-menu {
    margin: 0 auto 15px;
  }
  .company-area .shorting-menu .filter {
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 10px;
    margin-bottom: 15px;
  }
  .single-company .company-content a {
    font-size: 15px;
  }
  .single-company .company-content a i {
    display: none;
  }
  .branches-area {
    padding-bottom: 50px;
  }
  .branches-area .map-img {
    position: relative;
    margin-top: 30px;
  }
  .branches-area .map-img .location {
    top: 0;
    left: 0;
  }
  .branches-area .map-img .location .span-info i {
    font-size: 20px;
  }
  .branches-area .map-img .location .span-info .location-info {
    left: -34px;
    width: 90px;
  }
  .branches-area .map-img .location .span-info .location-info h5 {
    font-size: 14px;
  }
  .branches-area .map-img .location:nth-child(2).location {
    top: 45px;
    left: 65px;
  }
  .branches-area .map-img .location:nth-child(3).location {
    top: 20px;
    left: 135px;
  }
  .branches-area .map-img .location:nth-child(4).location {
    top: -20px;
    left: 190px;
  }
  .branches-area .map-img .location:nth-child(5).location {
    top: 30px;
    left: 230px;
  }
  .branches-area .map-img .location:nth-child(6).location {
    top: -19px;
    left: 85px;
  }
  .quote-here-form {
    text-align: center;
    padding: 15px;
  }
  .quote-here-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .quote-here-form p {
    margin-left: 0;
    margin-top: 20px;
    font-size: 14px;
    display: block;
  }
  .quote-here-form .form-group {
    margin-bottom: 20px;
  }
  .quote-here-form .default-btn {
    margin-top: 0;
  }
  .quote-here-area {
    margin-top: 0;
    padding-top: 50px;
  }
  .quote-here-area .col-lg-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .quote-here-area .col-lg-8 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .quote-here-area .quote-here-img {
    margin-bottom: 30px;
    height: 300px;
  }
  .team-area {
    text-align: center;
  }
  .team-area .section-title {
    text-align: center !important;
  }
  .team-area .default-btn {
    float: unset;
    margin-bottom: 30px;
  }
  .faq-area .faq-img-left {
    display: none;
  }
  .faq-area .faq-img-right {
    display: none;
  }
  .faq-area .faq-accordion {
    padding: 15px;
    max-width: unset;
    position: unset;
  }
  .faq-area .faq-accordion h2 {
    font-size: 20px;
    text-align: center;
  }
  .single-testimonial {
    padding-left: 0;
  }
  .single-testimonial .testimonial-img {
    position: unset;
    max-width: 0;
    height: 100px;
    display: none;
  }
  .single-testimonial .testimonial-img .testimonial-shape {
    margin: auto;
    max-width: 100px;
    height: 100px;
  }
  .single-testimonial .testimonial-content {
    text-align: center;
  }
  .award-area {
    padding-top: 50px;
  }
  .award-area .col-lg-7 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .award-area .col-lg-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .award-area .award-img {
    margin-bottom: 30px;
  }
  .award-area .award-content-wrap {
    padding: 15px;
    padding-bottom: 50px;
  }
  .award-area .award-content-wrap .award-content {
    text-align: center;
  }
  .award-area .award-content-wrap .award-content img {
    position: unset;
    max-width: 200px;
    margin: auto;
    margin-top: 15px;
  }
  .award-area .award-content-wrap .award-content span {
    font-size: 100px;
  }
  .single-articles .articles-content {
    padding: 15px;
  }
  .single-articles .articles-content ul li {
    padding-right: 5px;
  }
  .single-articles .articles-content ul li::before {
    display: none;
  }
  .help-area .faq-img-left {
    display: none;
  }
  .help-area .faq-img-right {
    display: none;
  }
  .help-area .help-touch-wrap {
    position: unset;
    padding: 15px;
  }
  .partners-area {
    padding-bottom: 50px;
  }
  .subscribe-area {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .subscribe-area .subscribe-area-wrap {
    padding: 15px;
  }
  .subscribe-area .subscribe-wrap .newsletter-form .default-btn {
    position: inherit;
    right: 0;
    top: 0;
    border: 2px solid #fff;
    margin: 20px auto 0;
    display: block;
  }
  .subscribe-area .subscribe-content h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .subscribe-area .subscribe-wrap .form-control {
    height: 50px;
  }
  .mt-minus-50 {
    margin: 0;
  }
  .pt-150 {
    padding-top: 50px;
  }
  .plan-area-wrap .single-progress {
    margin-bottom: 30px;
  }
  .plan-area-wrap .single-progress .progress-wrap {
    position: unset;
    left: 0;
    top: 0;
  }
  .plan-area-wrap .single-progress .progress-content {
    padding-left: 0;
  }
  .plan-area .plan-img {
    margin-bottom: 30px;
  }
  .plan-area .plan-img .plan-shape {
    display: none;
  }
  .branches-area .map-img {
    max-width: 350px;
    margin: 30px auto 0;
  }
  .faq-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonial-area .section-title {
    margin-bottom: 0px;
  }
  .award-area .container-fluid {
    max-width: 540px;
  }
  .award-area .award-content-wrap .award-content {
    max-width: 300px;
    margin: auto;
  }
  .single-widget h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .contolib-slider-area-two .contolib-slider-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contolib-slider-area-two .contolib-slider-item {
    padding-top: 130px;
    padding-bottom: 70px;
  }
  .contolib-slider-area-two .contolib-slider-item .video {
    margin: 20px auto 0;
  }
  .contolib-slider-area-two .owl-theme .owl-dots {
    right: 126px;
    top: 100%;
    display: unset;
  }
  .single-feature-two {
    padding: 20px;
  }
  .single-feature-two.more {
    padding: 27px 20px;
  }
  .more-customers-wrap .more-customers-content {
    padding: 15px;
  }
  .more-customers-wrap .more-customers-content ul {
    margin-bottom: 20px;
  }
  .more-customers-wrap .more-customers-content h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .more-customers-wrap .more-customers-content span {
    margin-top: 10px;
    position: unset;
    margin-left: 0;
    top: 0;
    display: block;
  }
  .more-customers-wrap .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .more-customers-wrap .more-customers-img {
    height: 300px;
    margin-top: 20px;
  }
  .financial-area-wrap .financial-content .financial-title {
    margin-bottom: 30px;
  }
  .financial-area-wrap .financial-content .financial-title span {
    font-size: 25px;
    margin-bottom: 0;
  }
  .financial-area-wrap .financial-content .financial-title h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .financial-area-wrap .single-progress {
    margin-bottom: 30px;
  }
  .financial-area-wrap .single-progress .progress-wrap {
    position: unset;
  }
  .financial-area-wrap .single-progress .progress-content {
    padding-left: 0;
  }
  .financial-area-wrap .single-progress .progress-content h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .financial-area-wrap .default-btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .financial-img .annual-report p {
    margin-top: 30px;
  }
  .experience-area::before {
    display: none;
  }
  .experience-area .experience-wrap {
    padding: 15px;
  }
  .experience-area .experience-wrap::before {
    display: none;
  }
  .single-experience {
    border-right: none;
    padding: 15px;
  }
  .experience-area .section-title {
    padding-top: 20px;
  }
  .experience-area .col-lg-3:nth-child(5) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(6) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(7) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area {
    padding-bottom: 50px;
  }
  .experience-area .default-btn.active {
    float: unset;
    margin-left: 0;
  }
  .company-us-area .company-tab-wrap {
    padding: 15px;
  }
  .company-us-area .col-lg-4.pr-0 {
    padding-right: 15px !important;
  }
  .company-us-area .col-lg-8.pl-0 {
    padding-left: 15px !important;
  }
  .company-us-area .company-tab-wrap h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .company-us-area .tab .tabs li {
    font-size: 13px;
  }
  .team-area-two .default-btn {
    float: unset;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .pricing-area .single-pricing.mt-45 {
    margin-top: 0;
  }
  .pricing-area .tab .pricing-tab-wrap .monthly {
    display: none;
  }
  .pricing-area .tab .pricing-tab-wrap .yearly {
    display: none;
  }
  .testimonial-area-two .single-testimonial-two .testimonial-content {
    padding: 15px;
  }
  .testimonial-area-two .owl-thumbs.tezno-slider-thumb {
    padding: 15px;
  }
  .testimonial-area-two .owl-thumb-item {
    margin-bottom: 10px;
  }
  .contact-info-area .contact-info-wrap {
    padding: 15px;
    padding-top: 45px;
  }
  .contact-info-area .contact-info-wrap .single-contact-item {
    border-right: none;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: 1px solid #fff;
  }
  .download-area .download-wrap::before {
    display: none;
  }
  .download-area {
    text-align: center;
  }
  .download-area .default-btn {
    float: unset;
  }
  .download-area .default-btn.active {
    margin-left: 0;
    margin-top: 20px;
  }
  .download-area .download-wrap {
    padding: 15px;
  }
  .testimonial-area-two {
    overflow: hidden;
  }
  .contolib-slider-area-two .owl-theme .owl-dots {
    right: 0;
    left: 0;
  }
  .header-area-two .top-header-area .header-content-left {
    float: unset;
  }
  .contolib-slider-area-three .contolib-slider-text h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    top: 0;
    font-size: 18px;
    margin-left: 0;
    margin-top: 30px;
  }
  .contolib-slider-area-three .contolib-slider-item {
    height: 100%;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contolib-slider-area-three .contolib-slider-item::before {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
  }
  .contolib-slider-area-three .contolib-slider-item .video {
    margin: 30px auto 0;
    display: table;
    text-align: center;
  }
  .contolib-slider-area-three .contolib-slider-text {
    text-align: center;
  }
  .contolib-slider-area-three .contolib-slider-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contolib-slider-area-three .contolib-slider-text p {
    margin-bottom: 25px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    margin-top: 20px;
  }
  .contolib-slider-area-three .contolib-slider-item .video a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .contolib-slider-area-three .contolib-slider-item .video a i {
    font-size: 15px;
  }
  .contolib-slider-area-three .owl-item.active .contolib-slider-text.one span {
    font-size: 15px;
  }
  .default-btn.three {
    border-radius: 50px;
    padding: 5px 15px;
  }
  .default-btn.three i {
    width: 30px;
    height: 30px;
    line-height: 29px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us i {
    padding: 10px;
  }
  .contolib-slider-area-three .owl-theme .owl-dots {
    display: unset;
    right: 0;
    left: 0;
    top: 100%;
  }
  .contolib-slider-area-three .contolib-slider-item .video a i {
    left: 3px;
  }
  .section-title.three {
    margin-bottom: 30px;
  }
  .single-featured-services .opportunity-content {
    padding: 15px;
  }
  .download-area-two p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .download-area-two {
    text-align: center;
  }
  .download-area-two .default-btn {
    float: unset;
    border-radius: 50px;
  }
  .why-choose-us-area .stakeholder-content-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .all-services-area .section-title.three {
    margin-bottom: 20px;
  }
  .all-services-area .section-title-right {
    margin-bottom: 30px;
  }
  .all-services-area .single-all-services {
    margin-bottom: 30px;
  }
  .single-projects .projects-content {
    text-align: center;
    max-width: 250px;
  }
  .single-projects .projects-content ul {
    display: inline-block;
    padding-right: 0;
  }
  .team-area-three .default-btn {
    float: unset;
    margin-bottom: 30px;
  }
  .contact-area-three .contact-wrap .contact-form {
    margin-right: 0;
    padding: 15px;
  }
  .contact-area-three .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contact-area-three .contact-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .subscribe-area {
    text-align: center;
  }
  .subscribe-area .shape {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-top-caption {
    padding-left: 0;
  }
  .testimonials-area-three .owl-theme .owl-dots {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-top-caption img {
    display: none;
  }
  .why-choose-us-area .container-fluid {
    max-width: 540px;
    margin: auto;
  }
  .counter-area-three .single-counter-three {
    padding: 20px;
  }
  .single-team-two .team-two-content {
    padding: 15px;
  }
  .team-area-three .col-lg-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contact-area-three .contact-wrap .contact-form {
    max-width: unset;
  }
  .contact-area-three #map {
    height: 300px;
  }
  .user-area-all-style .contact-form-action {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
  .user-area-all-style .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
  .user-area-all-style .contact-form-action .default-btn {
    display: block;
    width: 100%;
  }
  .user-area-all-style .contact-form-action .agree-label {
    text-align: center;
  }
  .user-area-all-style .contact-form-action .forget {
    float: unset;
    float: unset;
    margin-bottom: 30px;
    text-align: center;
    display: block;
  }
  .user-area-all-style .contact-form-action .now-register {
    float: unset;
    margin-top: 10px;
  }
  .coming-soon-area .coming-soon-content {
    height: 100%;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content p {
    font-size: 13px;
    margin-top: 15px;
  }
  .coming-soon-area .coming-soon-content #timer {
    margin-top: 20px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 40px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .coming-soon-area .coming-soon-content #timer div span {
    font-size: 14px;
    margin-top: -5px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    display: none;
  }
  .coming-soon-area .coming-soon-content .newsletter-form {
    margin-top: 35px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    height: 55px;
    padding-left: 13px;
    font-size: 15px;
  }
  .coming-soon-area .coming-soon-content .newsletter-form button {
    position: relative;
    height: auto;
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 15px;
  }
  .error-area {
    padding: 70px 0;
  }
  .error-area .error-content-wrap p {
    margin: 15px 0 20px;
  }
  .error-area .error-content-wrap h1 {
    font-size: 100px;
  }
  .faq-area .faq-accordion .accordion .accordion-title {
    font-size: 15px;
  }
  .service-sidebar-area .service-faq .faq-accordion .accordion .accordion-title {
    font-size: 14px;
  }
  .service-list-img {
    margin-bottom: 30px;
  }
  .service-details-wrap .ask-question {
    padding: 15px;
  }
  .cart-area .cart-table {
    text-align: center;
  }
  .cart-area .cart-table table thead tr th {
    padding: 0 40px 10px;
    white-space: nowrap;
  }
  .cart-area .cart-table table thead tr th:first-child {
    text-align: left;
    padding-left: 0;
  }
  .cart-area .cart-table table tbody tr td {
    white-space: nowrap;
  }
  .cart-area .cart-table table tbody tr td:first-child {
    text-align: left;
    padding-left: 0;
  }
  .cart-area .cart-buttons {
    text-align: center;
  }
  .cart-area .cart-buttons .text-right {
    text-align: center !important;
    margin-top: 0;
  }
  .cart-area .cart-totals {
    padding: 20px;
    margin-top: 35px;
  }
  .cart-area .cart-totals h3 {
    margin-bottom: 18px;
    font-size: 17px;
  }
  .cart-area .cart-totals ul li {
    font-size: 13px;
  }
  .cart-area .cart-totals .default-btn {
    display: block;
    text-align: center;
  }
  .cart-area .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .cart-area .billing-details {
    padding: 15px;
  }
  .cart-area .billing-details .form-group {
    margin-bottom: 15px;
  }
  .cart-area .billing-details .form-group label {
    margin-bottom: 7px;
  }
  .cart-area .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .cart-area .billing-details .form-group textarea {
    height: 100% !important;
  }
  .cart-area .billing-details .form-check label {
    top: 2px;
  }
  .cart-area .order-details {
    margin-top: 30px;
  }
  .cart-area .order-details .order-table {
    padding: 15px;
  }
  .cart-area .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .cart-area .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-area .order-details .payment-box {
    padding: 15px;
  }
  .cart-area .cart-area .default-btn {
    display: block;
    text-align: center;
  }
  .cart-area .coupon-wrap {
    padding: 20px !important;
    margin-top: 30px;
  }
  .cart-area .cart-wraps {
    padding: 20px;
  }
  .cart-area .cart-wraps .continue-shopping-box {
    margin-bottom: 20px;
  }
  .cart-area .cart-wraps .default-btn {
    width: 100%;
  }
  .cart-area .coupon-wrap .default-btn {
    width: 100%;
  }
  .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .checkout-area .billing-details {
    padding: 15px;
  }
  .checkout-area .billing-details .form-group {
    margin-bottom: 15px;
  }
  .checkout-area .billing-details .form-group label {
    margin-bottom: 7px;
  }
  .checkout-area .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .checkout-area .billing-details .form-group textarea {
    height: 100% !important;
  }
  .checkout-area .billing-details .form-check label {
    top: 2px;
  }
  .checkout-area .order-details {
    margin-top: 30px;
  }
  .checkout-area .order-details .order-table {
    padding: 15px;
  }
  .checkout-area .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .checkout-area .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .checkout-area .order-details .payment-box {
    padding: 15px;
  }
  .product-details-area .product-details-desc {
    margin-top: 25px;
  }
  .product-details-area .product-details-desc h3 {
    font-size: 16px;
  }
  .product-details-area .product-details-desc .price {
    margin-bottom: 13px;
  }
  .product-details-area .product-details-desc .product-review {
    margin-bottom: 13px;
  }
  .product-details-area .product-details-desc .product-review .rating {
    font-size: 13px;
  }
  .product-details-area .products-details-tab {
    margin-top: 30px;
  }
  .product-details-area .products-details-tab .tabs {
    margin-bottom: -11px;
  }
  .product-details-area .products-details-tab .tabs li {
    margin-bottom: 10px;
  }
  .product-details-area .products-details-tab .tabs li a {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 40px;
  }
  .product-details-area .products-details-tab .tabs li a .dot {
    left: 20px;
  }
  .product-details-area .products-details-tab .tab_content {
    padding: 25px 20px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li span {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content h3 {
    font-size: 16px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .rating i {
    font-size: 13px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .btn {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: unset;
    transform: unset;
    margin-top: 15px;
    display: block;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-right: 0;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .rating i {
    font-size: 13px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item h3 {
    font-size: 15px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item span {
    font-size: 12px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
    position: relative;
    top: 0;
    margin-top: 15px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .review-rating {
    display: none;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .form-group label {
    font-size: 13px;
  }
  .product-details-area .products-details-tab .custom-payment-options .payment-methods a img {
    width: 39px;
  }
  .product-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .btn {
    width: 100%;
  }
  .product-details-area .product-details-image {
    margin-top: 30px;
  }
  .contact-area {
    margin-top: 0;
    padding-top: 50px;
  }
  .contact-area .quick-contact {
    margin-bottom: 50px;
  }
  .page-title-area {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .help-area .help-touch-wrap h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .download-area {
    background-color: #239f30;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .feature-link {
    margin-top: 0px;
  }
  .why-choose-us-area .stakeholder-content-wrap .stakeholder-title h2 {
    font-size: 25px;
  }
  .contact-area-three .contact-wrap h2 {
    margin-bottom: 25px;
  }
  .go-top.active {
    /* top: 93%; */
  }
  .single-testimonials.mb-30::before {
    display: none;
  }
  .user-area-all-style .default-btn::after {
    left: 520px;
  }
  .user-area-all-style .default-btn:hover::after {
    left: 0 !important;
  }
  .service-details-area .faq-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .service-details-area .service-details-wrap .ask-question {
    margin-top: 30px;
  }
  .product-area .single-product-box .product-content h3 {
    font-size: 18px;
  }
  .product-area .single-product-box .product-content .price {
    font-size: 13px;
  }
  .cart-area .default-btn::after {
    left: 550px;
  }
  .cart-area .default-btn:hover::after {
    left: 0 !important;
  }
  .checkout-area .default-btn::after {
    left: 550px;
  }
  .checkout-area .default-btn:hover::after {
    left: 0 !important;
  }
  .product-details-area .default-btn::after {
    left: 550px;
  }
  .product-details-area .default-btn:hover::after {
    left: 0 !important;
  }
  .news-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .award-area .award-content-wrap .award-content span {
    margin-top: -25px;
    display: block;
  }
  .contact-info-area .contact-info-wrap h2 {
    margin-bottom: 0;
  }
  .financial-area {
    text-align: center;
  }
  .experience-area {
    text-align: center;
  }
  .experience-area .section-title {
    text-align: center !important;
  }
  .company-us-area .company-tab-wrap {
    text-align: center;
  }
  .company-us-area .company-tab-wrap .company-tab .tabs li {
    margin-right: 15px;
    margin-left: 15px;
  }
  .team-area-two {
    text-align: center;
  }
  .team-area-two .section-title {
    text-align: center !important;
  }
  .pricing-area .section-title {
    text-align: center !important;
  }
  .contact-area-three .contact-wrap h2 {
    margin-bottom: 30px;
    font-size: 21px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contolib-slider-area .contolib-slider-text {
    margin-bottom: 30px;
  }
  .single-opportunity .opportunity-content {
    padding: 15px;
    padding-top: 45px;
  }
  .stakeholder-area .container-fluid {
    max-width: 540px;
  }
  .plan-area .container-fluid {
    max-width: 540px;
    margin: auto;
  }
  .quote-here-form p {
    margin-left: 30px;
    display: inline-block;
  }
  .faq-area .container-fluid {
    max-width: 540px;
    margin: auto;
  }
  .contolib-slider-area .container-fluid {
    max-width: 450px;
    margin: auto;
  }
  .experience-area .col-lg-3:nth-child(2) .single-experience {
    border-left: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(3) .single-experience {
    border-right: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(5) .single-experience {
    border-right: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(7) .single-experience {
    border-right: 1px solid #238c2e;
    border-bottom: none;
  }
  .single-experience h3 {
    font-size: 17px;
  }
  .experience-area .default-btn.active {
    margin-bottom: 30px;
  }
  .company-us-area .tab .tabs li {
    font-size: 15px;
  }
  .study-area .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: 540px;
    margin: auto;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: none;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(2) .single-contact-item {
    border-left: 1px solid #ffffff;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: none;
    border-right: 1px solid #ffffff;
  }
  .contact-info-area .contact-info-wrap h2 {
    margin-bottom: 30px;
  }
  .download-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    top: -10px;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 0;
  }
  .coming-soon-area .coming-soon-content h1 {
    font-size: 55px;
  }
  .coming-soon-area .coming-soon-content #timer div {
    font-size: 45px;
  }
  .coming-soon-area .coming-soon-content #timer div::before {
    font-size: 65px;
    right: -49px;
  }
  .cart-area .cart-wraps .continue-shopping-box {
    margin-bottom: 0;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .pt-70 {
    padding-top: 70px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .mt-minus-90 {
    margin-top: 0;
  }
  h3 {
    font-size: 18px;
  }
  .header-area .top-header-area .header-content-right .flag-wrap .flag-item-top:hover .flag-item-bottom {
    z-index: 9999;
  }
  .others-option {
    display: none;
  }
  .contolib-slider-area {
    padding-top: 155px;
    padding-bottom: 100px;
  }
  .contolib-slider-area .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .contolib-slider-area .slider-shape {
    display: none;
  }
  .contolib-slider-area .contolib-slider-text {
    text-align: center;
    margin-top: 0;
  }
  .contolib-slider-area .contolib-slider-text span {
    display: none;
  }
  .contolib-slider-area .contolib-slider-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contolib-slider-area .contolib-slider-text p {
    margin-bottom: 25px;
  }
  .contolib-slider-area .contolib-slider-text .default-btn.active {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contolib-slider-area .owl-theme .owl-dots {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    max-width: 1130px;
    text-align: center;
  }
  .feature-area .col-lg-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .feature-area .feature-wrap .single-feature {
    margin-bottom: 0;
  }
  .feature-area .feature-wrap .single-feature .title {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .feature-area .feature-wrap .single-feature .title .icon {
    position: unset;
    font-size: 50px;
  }
  .feature-area .feature-wrap .single-feature .title .icon::before {
    display: none;
  }
  .feature-area .feature-wrap .single-feature .title .icon::after {
    display: none;
  }
  .feature-area .feature-wrap .single-feature .title h3 {
    top: 0;
    margin-top: 15px;
  }
  .feature-area .feature-wrap .feature-read-more {
    position: unset;
    margin-bottom: 30px;
  }
  .feature-area .feature-link {
    margin-top: 0;
  }
  .single-opportunity .opportunity-content {
    padding-top: 40px;
  }
  .single-opportunity .opportunity-content .icon-style {
    font-size: 25px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    top: -36px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section-title {
    margin: -8px auto 30px;
  }
  .section-title span {
    font-size: 25px;
    margin-bottom: 0;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .stakeholder-area {
    padding-bottom: 70px;
  }
  .stakeholder .stakeholder-content-wrap {
    padding: 30px;
  }
  .stakeholder .stakeholder-content-wrap .active {
    margin-top: 0;
    margin-bottom: -8px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title {
    margin-bottom: 25px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title h2 {
    font-size: 30px;
  }
  .stakeholder .stakeholder-content-wrap .stakeholder-title span {
    font-size: 30px;
    margin-bottom: 0;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title {
    padding-left: 0;
    margin-bottom: 0;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .stakeholder .stakeholder-content-wrap .single-stakeholder .title i {
    position: unset;
  }
  .stakeholder .stakeholder-img {
    position: unset;
    height: 300px;
    margin-top: 15px;
  }
  .single-counter {
    border-right: none;
  }
  .single-counter i {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .single-counter p {
    margin-bottom: 10px;
  }
  .single-counter h2 {
    font-size: 30px;
  }
  .plan-area {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .plan-area .plan-img .plan-shape {
    position: unset;
  }
  .plan-area .container-fluid .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .plan-area-wrap {
    padding: 0;
  }
  .plan-area-wrap .plan-content .plan-title span {
    font-size: 25px;
    margin-bottom: 0;
  }
  .plan-area-wrap .plan-content .plan-title h2 {
    font-size: 30px;
    line-height: 1.4;
  }
  .company-area .shorting-menu {
    margin: 0 auto 15px;
  }
  .company-area .shorting-menu .filter {
    padding: 10px 15px;
    font-size: 14px;
    margin: 0 10px;
    margin-bottom: 15px;
  }
  .single-company .company-content a i {
    display: none;
  }
  .branches-area {
    padding-bottom: 70px;
  }
  .branches-area .map-img {
    position: relative;
    margin-top: 30px;
  }
  .branches-area .map-img .location {
    top: 85px;
    left: 300px;
  }
  .branches-area .map-img .location .span-info i {
    font-size: 20px;
  }
  .branches-area .map-img .location .span-info .location-info {
    left: -34px;
    width: 90px;
  }
  .branches-area .map-img .location .span-info .location-info h5 {
    font-size: 14px;
  }
  .branches-area .map-img .location:nth-child(2).location {
    top: 45px;
    left: 65px;
  }
  .branches-area .map-img .location:nth-child(3).location {
    top: 20px;
    left: 135px;
  }
  .branches-area .map-img .location:nth-child(4).location {
    top: -20px;
    left: 190px;
  }
  .branches-area .map-img .location:nth-child(5).location {
    top: 30px;
    left: 230px;
  }
  .branches-area .map-img .location:nth-child(6).location {
    top: -19px;
    left: 85px;
  }
  .quote-here-form {
    text-align: center;
    padding: 15px;
  }
  .quote-here-form h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .quote-here-form p {
    margin-left: 0;
    margin-top: 20px;
    font-size: 14px;
  }
  .quote-here-form .form-group {
    margin-bottom: 20px;
  }
  .quote-here-form .default-btn {
    margin-top: 0;
  }
  .quote-here-area {
    margin-top: 0;
    padding-top: 70px;
  }
  .quote-here-area .col-lg-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .quote-here-area .col-lg-8 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .team-area .default-btn {
    float: unset;
    margin-bottom: 30px;
  }
  .faq-area .faq-img-left {
    display: none;
  }
  .faq-area .faq-img-right {
    display: none;
  }
  .faq-area .faq-accordion {
    padding: 30px;
    max-width: unset;
    position: unset;
  }
  .faq-area .faq-accordion h2 {
    text-align: center;
    margin-top: -6px;
  }
  .award-area .award-content-wrap .award-content span {
    font-size: 100px;
  }
  .help-area .help-touch-wrap h2 {
    margin-bottom: 30px;
  }
  .single-testimonial {
    padding-left: 0;
  }
  .single-testimonial .testimonial-img {
    position: unset;
    max-width: 0;
    height: 100px;
    display: none;
  }
  .single-testimonial .testimonial-img .testimonial-shape {
    margin: auto;
    max-width: 100px;
    height: 100px;
  }
  .award-area {
    padding-top: 70px;
  }
  .award-area .col-lg-7 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .award-area .col-lg-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .award-area .award-img {
    margin-bottom: 30px;
  }
  .award-area .award-content-wrap {
    padding: 15px;
    padding-bottom: 70px;
  }
  .award-area .award-content-wrap .award-content {
    text-align: center;
  }
  .award-area .award-content-wrap .award-content img {
    position: unset;
    max-width: 200px;
    margin: auto;
    margin-top: 15px;
  }
  .single-articles .articles-content {
    padding: 15px;
  }
  .single-articles .articles-content ul li {
    padding-right: 5px;
  }
  .single-articles .articles-content ul li::before {
    display: none;
  }
  .help-area .faq-img-left {
    display: none;
  }
  .help-area .faq-img-right {
    display: none;
  }
  .help-area .help-touch-wrap {
    position: unset;
    padding: 15px;
  }
  .partners-area {
    padding-bottom: 70px;
  }
  .subscribe-area {
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
  }
  .subscribe-area .subscribe-area-wrap {
    padding: 30px;
  }
  .subscribe-area .subscribe-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .mt-minus-50 {
    margin: 0;
  }
  .pt-150 {
    padding-top: 70px;
  }
  .plan-area-wrap .single-progress {
    margin-bottom: 30px;
  }
  .plan-area-wrap .single-progress .progress-wrap {
    position: unset;
    left: 0;
    top: 0;
    margin-bottom: 10px;
  }
  .plan-area-wrap .single-progress .progress-content {
    padding-left: 0;
  }
  .plan-area .plan-img {
    margin-bottom: 30px;
  }
  .plan-area .plan-img .plan-shape {
    display: none;
  }
  .branches-area .map-img {
    max-width: 350px;
    margin: 30px auto 0;
  }
  .faq-area {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .testimonial-area .section-title {
    margin-bottom: 0px;
  }
  .award-area .container-fluid {
    max-width: 720px;
  }
  .award-area .award-content-wrap .award-content {
    max-width: 300px;
    margin: auto;
  }
  .single-widget h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .stakeholder-area .container-fluid {
    max-width: 720px;
  }
  .plan-area .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .faq-area .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .contolib-slider-area .contolib-slider-text {
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto 30px;
  }
  .contolib-slider-area .contolib-slider-text .default-btn.active {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .help-area .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .help-area .help-touch-wrap {
    padding: 30px;
    max-width: unset;
  }
  .contolib-slider-area-two .contolib-slider-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contolib-slider-area-two .contolib-slider-item {
    padding-top: 130px;
    padding-bottom: 70px;
  }
  .contolib-slider-area-two .contolib-slider-item .video {
    margin: 20px auto 0;
  }
  .contolib-slider-area-two .owl-theme .owl-dots {
    right: 126px;
    top: 100%;
    display: unset;
  }
  .single-feature-two {
    padding: 20px;
  }
  .single-feature-two.more {
    padding: 20px 20px;
  }
  .more-customers-wrap .more-customers-content {
    padding: 15px;
  }
  .more-customers-wrap .more-customers-content ul {
    margin-bottom: 20px;
  }
  .more-customers-wrap .more-customers-content h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .more-customers-wrap .more-customers-content span {
    margin-top: 10px;
    position: unset;
    margin-left: 0;
    top: 0;
    display: block;
  }
  .more-customers-wrap .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .more-customers-wrap .more-customers-img {
    height: 300px;
    margin-top: 20px;
  }
  .financial-area-wrap .financial-content .financial-title {
    margin-bottom: 30px;
  }
  .financial-area-wrap .financial-content .financial-title span {
    font-size: 30px;
    margin-bottom: 0;
  }
  .financial-area-wrap .financial-content .financial-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .financial-area-wrap .single-progress {
    margin-bottom: 30px;
  }
  .financial-area-wrap .single-progress .progress-wrap {
    position: unset;
  }
  .financial-area-wrap .single-progress .progress-content {
    padding-left: 0;
  }
  .financial-area-wrap .single-progress .progress-content h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .financial-area-wrap .default-btn {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .financial-img .annual-report p {
    margin-top: 30px;
  }
  .experience-area::before {
    display: none;
  }
  .experience-area .experience-wrap {
    padding: 15px;
  }
  .experience-area .experience-wrap::before {
    display: none;
  }
  .single-experience {
    border-right: none;
  }
  .experience-area .col-lg-3:nth-child(5) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(6) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(7) .single-experience {
    border-bottom: 1px solid #238c2e;
  }
  .experience-area {
    padding-bottom: 70px;
  }
  .experience-area .default-btn.active {
    float: unset;
    margin-left: 0;
  }
  .company-us-area .company-tab-wrap {
    padding: 30px;
  }
  .company-us-area .col-lg-4.pr-0 {
    padding-right: 15px !important;
  }
  .company-us-area .col-lg-8.pl-0 {
    padding-left: 15px !important;
  }
  .company-us-area .company-tab-wrap h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .company-us-area .tab .tabs li {
    font-size: 13px;
  }
  .team-area-two .default-btn {
    float: unset;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .pricing-area .single-pricing.mt-45 {
    margin-top: 0;
  }
  .testimonial-area-two .single-testimonial-two .testimonial-content {
    padding: 15px;
  }
  .contact-info-area .contact-info-wrap {
    padding: 15px;
  }
  .contact-info-area .contact-info-wrap .single-contact-item {
    border-right: none;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: 1px solid #fff;
  }
  .download-area .download-wrap::before {
    display: none;
  }
  .download-area {
    text-align: center;
  }
  .download-area .default-btn {
    float: unset;
  }
  .download-area .default-btn.active {
    margin-left: 0;
    margin-top: 20px;
  }
  .download-area .download-wrap {
    padding: 15px;
  }
  .testimonial-area-two {
    overflow: hidden;
  }
  .contolib-slider-area-two .owl-theme .owl-dots {
    right: 0;
    left: 0;
  }
  .header-area-two .top-header-area .header-content-left {
    float: unset;
  }
  .header-area-two .top-header-area .header-content-left li a {
    display: none;
  }
  .experience-area .col-lg-3:nth-child(2) .single-experience {
    border-left: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(3) .single-experience {
    border-right: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(5) .single-experience {
    border-right: 1px solid #238c2e;
  }
  .experience-area .col-lg-3:nth-child(7) .single-experience {
    border-right: 1px solid #238c2e;
    border-bottom: none;
  }
  .single-experience h3 {
    font-size: 16px;
  }
  .study-area .container-fluid {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: 720px;
    margin: auto;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: none;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(2) .single-contact-item {
    border-left: 1px solid #ffffff;
  }
  .contact-info-area .contact-info-wrap .col-lg-6:nth-child(3) .single-contact-item {
    border-bottom: none;
    border-right: 1px solid #ffffff;
  }
  .contact-info-area .contact-info-wrap h2 {
    margin-bottom: 0px;
  }
  .download-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contolib-slider-area-three .contolib-slider-text h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    top: 0;
    font-size: 18px;
    margin-left: 0;
    margin-top: 30px;
  }
  .feature-link {
    text-align: center;
    margin-top: 0;
  }
  .contolib-slider-area-three .contolib-slider-item {
    height: 100%;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .contolib-slider-area-three .contolib-slider-item::before {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
  }
  .contolib-slider-area-three .contolib-slider-item .video {
    margin: 30px auto 0;
    display: table;
    text-align: center;
  }
  .contolib-slider-area-three .contolib-slider-text {
    text-align: center;
  }
  .contolib-slider-area-three .contolib-slider-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .contolib-slider-area-three .contolib-slider-text p {
    margin-bottom: 25px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    margin-top: 20px;
  }
  .contolib-slider-area-three .contolib-slider-item .video a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .contolib-slider-area-three .contolib-slider-item .video a i {
    font-size: 15px;
  }
  .default-btn.three {
    border-radius: 50px;
    padding: 5px 15px;
  }
  .default-btn.three i {
    width: 30px;
    height: 30px;
    line-height: 29px;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us i {
    padding: 10px;
  }
  .contolib-slider-area-three .owl-theme .owl-dots {
    display: unset;
    right: 0;
    left: 0;
    top: 100%;
  }
  .contolib-slider-area-three .contolib-slider-item .video a i {
    left: 3px;
  }
  .section-title.three {
    margin-bottom: 30px;
  }
  .single-featured-services .opportunity-content {
    padding: 15px;
  }
  .download-area-two p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .download-area-two {
    text-align: center;
  }
  .download-area-two .default-btn {
    float: unset;
    border-radius: 50px;
  }
  .why-choose-us-area .stakeholder-content-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .all-services-area .section-title.three {
    margin-bottom: 20px;
  }
  .all-services-area .section-title-right {
    margin-bottom: 30px;
  }
  .all-services-area .single-all-services {
    margin-bottom: 30px;
  }
  .single-projects .projects-content {
    text-align: center;
    max-width: 250px;
  }
  .single-projects .projects-content ul {
    display: inline-block;
    padding-right: 0;
  }
  .team-area-three .default-btn {
    float: unset;
    margin-bottom: 30px;
  }
  .contact-area-three .contact-wrap .contact-form {
    margin-right: 0;
    padding: 15px;
  }
  .contact-area-three .col-lg-6 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contact-area-three .contact-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
  .subscribe-area {
    text-align: center;
  }
  .subscribe-area .shape {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-top-caption {
    padding-left: 0;
  }
  .testimonials-area-three .owl-theme .owl-dots {
    display: none;
  }
  .contolib-slider-area-three .contolib-slider-text .slider-btn .call-us {
    top: -10px;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 0;
  }
  .contolib-slider-area-three .owl-item.active .contolib-slider-text.one img {
    display: none;
  }
  .header-area-three .top-header-area .header-content-left li a {
    display: none;
  }
  .why-choose-us-area .container-fluid {
    max-width: 720px;
  }
  .all-services-area .col-lg-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .team-area-three .col-lg-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .contact-area-three .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .contact-area-three .contact-wrap .contact-form {
    max-width: unset;
  }
  .contact-area-three #map {
    height: 300px;
  }
  .counter-area-three {
    margin-top: 70px;
  }
  .counter-area-three .col-lg-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .why-choose-us-area {
    padding-bottom: 70px;
  }
  .why-choose-us-area .container-fluid {
    max-width: 720px;
    margin: auto;
  }
  .why-choose-us-area .choose-us-img {
    height: 300px;
  }
  .user-area-all-style .contact-form-action {
    padding: 20px;
  }
  .user-area-all-style .contact-form-action .form-heading .form-title {
    font-size: 25px;
  }
  .user-area-all-style .contact-form-action .form-heading .form-desc {
    font-size: 15px;
  }
  .product-details-image {
    margin-bottom: 30px;
  }
  .contact-area {
    margin-top: 0;
    padding-top: 70px;
  }
  .contact-area .quick-contact {
    margin-bottom: 70px;
  }
  .page-title-area {
    padding-top: 150px;
    padding-bottom: 80px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 30px;
  }
  .page-title-area .page-title-content ul li {
    font-size: 14px;
  }
  .single-company .company-content a {
    font-size: 16px;
  }
  .faq-area .faq-accordion h2 {
    font-size: 30px;
  }
  .award-area .award-content-wrap .award-content span {
    margin-top: -25px;
    display: block;
  }
  .download-area {
    background-color: #239f30;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .experience-area .section-title {
    padding-top: 30px;
  }
  .section-title {
    margin: 0px auto 30px;
  }
  .contact-info-area .contact-info-wrap {
    padding: 30px;
  }
  .contact-info-area .contact-info-wrap h2 {
    margin-bottom: 30px;
  }
  .why-choose-us-area .stakeholder-content-wrap .stakeholder-title h2 {
    font-size: 30px;
  }
  .all-services-area.ptb-100 {
    padding-bottom: 40px;
  }
  .service-details-area .faq-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .service-details-area .service-details-wrap .ask-question {
    margin-top: 30px;
  }
  .product-area .single-product-box .product-content h3 {
    font-size: 18px;
  }
  .product-area .single-product-box .product-content .price {
    font-size: 13px;
  }
  .checkout-area .default-btn::after {
    left: 650px;
  }
  .checkout-area .default-btn:hover::after {
    left: 0 !important;
  }
  .product-details-area .default-btn::after {
    left: 700px;
  }
  .product-details-area .default-btn:hover::after {
    left: 0 !important;
  }
  .news-details-area .widget-area .widget:first-child {
    margin-top: 35px;
  }
  .go-top.active {
    /* top: 93%; */
  }
  .financial-area {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .contolib-nav-style .others-option .subscribe {
    display: none;
  }
  .main-nav nav .navbar-nav .nav-item {
    position: relative;
    padding: 25px 0;
  }
  .contolib-slider-area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contolib-slider-area .contolib-slider-text {
    margin-top: -40px;
  }
  .contolib-slider-area .contolib-slider-text span {
    font-size: 70px;
  }
  .contolib-slider-area .contolib-slider-text h1 {
    font-size: 50px;
  }
  .feature-area .feature-wrap .single-feature .title h3 {
    font-size: 18px;
  }
  .stakeholder .stakeholder-img {
    position: unset;
  }
  .plan-area .plan-img .plan-shape {
    display: none;
  }
  .plan-area-wrap .plan-content .plan-title h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .plan-area-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .plan-area-wrap .single-progress .progress-wrap {
    position: unset;
  }
  .plan-area-wrap .single-progress .progress-content {
    padding-left: 0;
    margin-top: 10px;
  }
  .plan-area {
    margin-bottom: 100px;
  }
  .plan-area .container-fluid {
    max-width: 960px;
    margin: auto;
  }
  .plan-area .container-fluid .col-lg-6 {
    padding-left: 15px !important;
  }
  .branches-area {
    overflow: hidden;
  }
  .branches-area .map-img .location:nth-child(6).location {
    top: -30px;
    left: 160px;
  }
  .team-content h3 {
    font-size: 17px;
  }
  .award-area .award-content-wrap .award-content img {
    top: 80px;
    right: 15px;
    max-width: 180px;
  }
  .single-articles .articles-content {
    padding: 15px;
  }
  .single-articles .articles-content ul li {
    padding-right: 5px;
  }
  .single-articles .articles-content ul li::before {
    display: none;
  }
  .contolib-slider-area .owl-theme .owl-dots {
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
    max-width: 936px;
  }
  .single-feature-two {
    padding: 15px;
  }
  .single-feature-two h3 {
    font-size: 16px;
  }
  .single-feature-two.more {
    padding: 27px 15px;
  }
  .single-feature-two.more h3 {
    font-size: 16px;
  }
  .more-customers-wrap .more-customers-content h2 {
    font-size: 35px;
  }
  .more-customers-wrap .more-customers-content ul li {
    font-weight: 500;
    font-size: 12px;
  }
  .financial-area-wrap .single-progress .progress-content {
    padding-left: 0;
  }
  .financial-area-wrap .single-progress .progress-content h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .financial-area-wrap .single-progress .progress-wrap {
    position: unset;
  }
  .single-experience h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .download-area .download-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    z-index: -1;
    background-color: #239f30;
  }
  .experience-area .experience-wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    z-index: -1;
    background-color: #239f30;
  }
  .counter-area-three .single-counter-three {
    padding: 15px;
  }
  .counter-area-three .single-counter-three p {
    font-size: 15px;
  }
  .contolib-nav-style .navbar-area .main-nav nav .navbar-nav .nav-item a {
    font-size: 14px;
  }
  .header-area-three .contolib-nav-style .navbar-area .navbar-brand {
    margin-right: 0;
    left: -31px;
  }
  .header-area-three .navbar-nav.m-auto {
    margin-left: 0 !important;
  }
  .stakeholder-area {
    padding-bottom: 100px;
  }
  .single-featured-services h3 {
    font-size: 18px;
  }
  .why-choose-us-area .container-fluid {
    max-width: 975px;
  }
  .contolib-nav-style .navbar-area .main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 13px;
  }
  .go-top.active {
    /* top: 90%; */
  }
  .contolib-slider-area .container-fluid {
    max-width: 1000px;
  }
  .feature-area .feature-wrap .single-feature {
    min-height: 355px;
  }
}
@media only screen and (min-width: 1700px) {
  .contolib-slider-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contolib-slider-area .contolib-slider-text {
    /* margin-top: -150px; */
  }
  .contolib-slider-area .container-fluid {
    max-width: 1530px;
    margin-right: unset;
  }
  .contolib-slider-area .slider-shape {
    max-width: 950px;
  }
  .contolib-slider-area .owl-theme .owl-dots {
    /* -webkit-transform: translateY(-170px);
    transform: translateY(-170px); */
  }
  .award-area .award-content-wrap .award-content img {
    right: 100px;
    max-width: unset;
  }
  .contolib-slider-area-two .contolib-slider-item {
    padding-top: 220px;
    padding-bottom: 220px;
  }
  .contolib-slider-area-two .contolib-slider-item .video {
    margin: 0 auto 0;
    position: relative;
    top: 150px;
  }
  .why-choose-us-area .container-fluid {
    max-width: 1520px;
  }
}
@media only screen and (max-width: 991px) {
  .mean-container .mean-bar {
    background-image: -webkit-gradient(linear, right top, left top, from(#1a28a8), to(#03cdf4));
    background-image: linear-gradient(to left, #1a28a8 0%, #03cdf4 100%);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    height: 70px;
  }
  .mean-container a.meanmenu-reveal {
    padding: 25px 15px 0 0;
    color: #ffffff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #ffffff;
  }
  .mobile-nav .logo {
    width: 135px;
    top: 14px;
  }
  .mobile-nav.mean-container .mean-nav {
    margin-top: 70px;
  }
  .mobile-nav.mean-container .mean-nav ul li a:hover {
    color: #239f30;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #239f30;
  }
}
@media screen and (max-width:359px) {
  .how-it-work-video .video-cont iframe {
    height: 165px;
  }
}
@media screen and (max-width:599px) {
  .how-it-work-top .hiw-cont .single-feature-two {
    min-height: inherit;
  }
}
@media screen and (max-width:767px) {
    p {
        font-size: 13px;
        line-height: 21px;
    }
    .contolib-slider-area {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .contolib-slider-area .contolib-slider-text .banner-title {
        font-size: 29px;
        line-height: 39px;
        letter-spacing: 1px;
    }
    .owl-carousel .owl-item .slider-img {
        text-align: center;
    }
    .owl-carousel .owl-item .slider-img img {
        display: inline-block;
        width: auto;
    }
    .home-h1 {
        top: 0 !important;
        padding: 10px 0;
    }
    .home-h1 .home-title-h1 {
        font-size: 36px;
    }
    .feature-area .service-cont {
        /*float: left;
        max-width: 33.3333%;
        margin-left: 0;*/
        margin-bottom: 15px;
    }
    .feature-area .feature-wrap .single-feature {
        min-height: inherit;
    }
    .feature-area .feature-wrap .single-feature .title h3 {
        font-size: 17px;
    }
    .single-feature-two {
        min-height: 275px;
    }
    .plan-area {
        margin-top: 0;
        margin-bottom: 0;
    }
    .plan-area .plan-img .plan-shape {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 0;
        width: 60%;
    }
    .footer-top-area {
        text-align: center;
    }
    .pricing-area .tab {
      margin-left: 0;
      margin-right: 0;
    }
    .pricing-area .single-pricing ul {
      min-height: inherit;
      text-align: center;
    }
    .pricing-area .single-pricing ul li i {
      margin: -5px 0 0 -30px;
      left: unset;
    }
}
@media (min-width:360px) and (max-width:479px) {
  .how-it-work-video .video-cont iframe {
    height: 250px;
  }
}
@media (min-width:480px) and (max-width:599px) {}
@media (min-width:600px) and (max-width:767px) {
  .how-it-work-top .hiw-cont .single-feature-two {
    min-height: 270px!important;
  }
}
@media (min-width:768px) and (max-width:991px) {
    p {
        font-size: 13px;
        line-height: 21px;
    }
    .contolib-slider-area {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .owl-carousel .owl-item .slider-img {
        text-align: center;
    }
    .owl-carousel .owl-item .slider-img img {
        display: inline-block;
        width: auto;
    }
    .home-h1 {
        top: 0 !important;
        padding: 10px 0;
    }
    .home-h1 .home-title-h1 {
        font-size: 36px;
    }
    .feature-area .service-cont {
        float: left;
        max-width: 33.3333%;
        margin-left: 0;
    }
    .feature-area .feature-wrap .single-feature {
        min-height: 415px;
    }
    .feature-area .feature-wrap .single-feature .title h3 {
        font-size: 17px;
    }
    .single-feature-two {
        min-height: 275px;
    }
    .how-it-work-top .hiw-cont .single-feature-two {
      min-height: 230px!important;
    }
    .plan-area {
        margin-top: 0;
        margin-bottom: 0;
    }
    .plan-area .plan-img .plan-shape {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 0;
        width: 60%;
    }
    .pricing-area .single-pricing ul {
      min-height: inherit;
      text-align: center;
    }
    .pricing-area .single-pricing ul li i {
      margin: -5px 0 0 -30px;
      left: unset;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .plan-area .plan-img .plan-shape {
        display: block;
        position: absolute;
        bottom: -50px;
        right: 0;
        width: 60%;
    }
    .pricing-area .single-pricing ul {
        min-height: 515px;
    }
    .how-it-work-top .hiw-cont .single-feature-two {
      min-height: 360px;
    }
}